{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>     
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<style>
.pop-out-card {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #bbb;
  transition: all .2s;
}

.pop-out-card:hover {
  box-shadow: 2px 12px 15px #999;
}

.pop-out-card.with-transform:hover {
  transform: translateY(-2px);
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 4rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 5rem;
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


{% comment %} Blog name and description {% endcomment %}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.photo {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.detail-title {
  background: linear-gradient(to right,#c298c8 20%, white);
}

.btn {
  color: #FFFFF;
  background-color: #c298c8
  }
</style>

<body>
<div>
  <div class="row gx-0">
    <div class="col-md-4 mb-0 me-0">
      <div class="pop-out-card with-transform">
        <img class="photo img-fluid" alt="100%x280" src="{{ restaurant.picture1 }}">
      </div>
    </div>
    <div class="col-md-4 mb-0 me-0">
      <div class="pop-out-card with-transform">
        <img class="photo img-fluid" alt="100%x280" src="{{ restaurant.picture2 }}">
      </div>
    </div>
    <div class="col-md-4 mb-0 me-0">
      <div class="pop-out-card with-transform">
        <img class="photo img-fluid" alt="100%x280" src="{{ restaurant.picture3 }}">
      </div>
    </div>    
  </div>
</div>

  <div class="jumbotron p-3 p-md-5 text-white rounded detail-title" style=" text-algin:center;">
    <h1 class="display-4">{{ restaurant.name }}</h1>
  </div>

  <main role="main" class="container" style="font-size:1.5rem;">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="blog-post">

          <div class="justify-content-between m-0 align-items-center">
            <p>주소: <span id="addr">{{ restaurant.address }}</span></p>
            <p>카테고리: {{ restaurant.category }}</p>
            <p>전화번호: {{ restaurant.phone }}</p>
            <p><pre style="font-family:'Jua', sans-serif; font-size:24px;">영업시간: {{ restaurant.hours }}</pre></p>
          </div>
        </div><!-- /.blog-post -->
        <p class="blog-post-meta">
          {% if request.user.is_authenticated %}
          {% if request.user in restaurant.like_users.all %}
          <i id="like-btn" data-restaurant-id="{{ restaurant.pk }}" class="bi bi-heart-fill" style="cursor : pointer; color:#e195a5;"></i>
          {% else %}
          <i id="like-btn" data-restaurant-id="{{ restaurant.pk }}" class="bi bi-heart" style="cursor : pointer; color:#e195a5;"></i>
          {% endif %}
          <span id="like-count" style="color:#e195a5;">{{ restaurant.like_users.count }}</span>
          {% endif %}
            <span style="color:#e195a5;">좋아요</span> 
        </p>
        <hr>
        <br>

        {% comment %} <div class="blog-post">
          <h2 class="blog-post-title">식당 상세 내용</h2>
          <hr>
          <p>{{ restaurant.content }}</p>
        </div><!-- /.blog-post -->
        <hr>
        <br> {% endcomment %}

        <div class="blog-post">
          <div>
            <span class="blog-post-title">{{ restaurant.name }} 리뷰</span>
            <span><a class="btn float-end" style="font-size:1.5rem;" href="{% url 'bars:review' restaurant.pk %}">
              리뷰 작성하기
            </a></span>
          </div>
          {% for review in reviews %}
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div class="d-flex justify-content-start align-items-center">
                {% if review.user.profile_image %}
              {% if 'http' in review.user.image_string %}
                <img class="rounded-circle align-middle" src="{{ review.user.profile_image }}" style="width: 3rem; height: 3rem;" alt="">
              {% else %}
                <img class="rounded-circle align-middle" src="{{ review.user.profile_image.url }}" style="width: 3rem; height: 3rem;" alt="">
              {% endif %}
              {% endif %}
                <a href="{% url 'accounts:userpage' review.user.pk %}" style="margin-right: 10px;"> 
                  <p class="fw-bold mb-0">{{ review.user.name }} 님</p>
                </a>
                <div>
                  {% comment %} 비동기 시도 {% endcomment %}
                  {% if request.user.is_authenticated %}
                  {% if request.user in review.like_usersreview.all %}
                  <i data-restaurant-id="{{ restaurant.pk }}" data-review-id="{{ review.pk }}" class="bi bi-heart-fill like-review-btn" style="cursor : pointer; color:#e195a5;"></i>
                  {% else %}
                  <i data-restaurant-id="{{ restaurant.pk }}" data-review-id="{{ review.pk }}" class="bi bi-heart like-review-btn" style="cursor : pointer; color:#e195a5;"></i>
                  {% endif %}
                  <span class="like-review-count" style="color:#e195a5;">{{ review.like_usersreview.count }}</span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="">
              <p class="m-0">{{ review.updated_at }}</p>
              <div class="d-flex justify-content-end">
                <p class="fw-bold m-0">{{ review.get_grade_display }}</p>
              </div>
            </div>
          </div>
          <p class="fw-bold">{{ review.title }}</p>
          <p>{{ review.content }}</p>
          <img src="{{ review.image.url }}" alt="" style="width: 15rem; height: 15rem;">

              <!-- 리뷰 좋아요 -->
          {% comment %} {% if request.user.is_authenticated %}
          <a class="like-heart" href="{% url 'bars:review_like' restaurant.pk review.pk %}">
            {% if request.user in review.like_usersreview.all %}
            <i class="bi bi-heart-fill text-danger" style="color:#e195a5;"></i>
            {% else %}
            <i class="bi bi-heart" style="color:#e195a5;"></i>
            {% endif %}</a>{{ review.like_usersreview.count }}</span>
          {% endif %} {% endcomment %}
         
          {% if request.user == review.user %}
          <!-- 수정/삭제 -->
          <div class="text-end">
            <div class="d-flex justify-content-end">
              <a class="btn btn-outline-dark" href="{% url 'bars:update' restaurant.pk review.pk %}">
                <i class="fa-solid fa-pen"></i> 수정
              </a>
              <!-- <div class="text-end me-5"> -->
              <p>{{ comment.content }}</p>
              {% comment %} 댓글 삭제 버튼 {% endcomment %}
              <button type="submit" class="btn btn-outline-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="vertical-align: middle;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                  viewbox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg> 삭제
              </button>
            </div>
          </div>
      
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">주의!</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>정말 삭제를 원하시나요?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">잘못눌렀어!</button>
                  <a href="{% url 'bars:delete' restaurant.pk review.pk %}">
                    <button type="button" class="btn">정말 삭제를 원해!</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <!-- Button trigger modal -->
          <div class="comments mb-5 mt-3">
            <!-- 댓글 -->
            <i class="bi bi-chat"></i>
            {% if review.comment_set.all %}
            {{ review.comment_set.all|length }}
            {% endif %}
            <button type="button" class="btn" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop-{{ review.id }}">
              댓글 달기
            </button>
          </div>
      
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop-{{ review.pk }}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">댓글을 작성하세요</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'bars:comment_create' restaurant.pk review.pk %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form comment_form layout='inline'%}
                    {% comment %} <input type="hidden" name="review" value={{ review.id }}> {% endcomment %}
                    {% comment %} {% bootstrap_button button_type="submit" content="등록" button_class="btn-primary" %}
                    {% endcomment %}
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                      {% bootstrap_button button_type="submit" content="등록" button_class="btn" %}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          {% for comment in review.comment_set.all %}
          <div class="d-flex justify-content-start align-items-center">
            {% if comment.user.profile_image %}
              {% if 'http' in comment.user.image_string %}
                <img class="rounded-circle align-middle" src="{{ comment.user.profile_image }}" style="width: 3rem; height: 3rem;" alt="">
              {% else %}
                <img class="rounded-circle align-middle" src="{{ comment.user.profile_image.url }}" style="width: 3rem; height: 3rem;" alt="">
              {% endif %}
              {% endif %}
            <a href="{% url 'accounts:userpage' comment.user.pk %}">
              <p class="fw-bold mb-0">{{ comment.user.name }} 님</p>
            </a>
            <p class="mb-0 ms-3">{{ comment.content }}</p>
            {% if comment.user == request.user %}
              <a href="{% url 'bars:comment_delete' restaurant.pk comment.pk %}" style="margin-left: 1rem;">삭제</a>
            {% endif %}
          </div>
         
          {% empty %}
          <p>댓글이 없습니다.</p>
          {% endfor %}
          <hr>
          {% endfor %}
        </div><!-- /.blog-post -->
      </div><!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4>상세 지도</h4>
          <div id="map" style="height:350px;"></div>
          <p>네이버 플레이스: <a href="{{ restaurant.map_url }}">바로가기!</a></p>
        </div>
      </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </main><!-- /.container -->
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 좋아요 비동기
  const likeBtn = document.querySelector('#like-btn')
  likeBtn.addEventListener('click', function(event) {
    axios({
      method: 'post',
      url: `/${event.target.dataset.restaurantId}/restaurant_like/`,
      headers : {
        'X-CSRFTOKEN' : '{{ csrf_token }}'
       },
    })
    .then(response => {
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill')
        event.target.classList.remove('bi-heart')
      } else {
        event.target.classList.add('bi-heart')
        event.target.classList.remove('bi-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })

  </script>
  
  <script>
  // 리뷰 좋아요 비동기
  const likeReviewBtn = document.querySelectorAll('.like-review-btn')
  for (let i=0; i < likeReviewBtn.length; i++) {
    likeReviewBtn[i].addEventListener('click', function(event) {
      axios({
        method: 'post',
        url: `/${event.target.dataset.restaurantId}/${event.target.dataset.reviewId}/review_like/`,
        headers : {
          'X-CSRFTOKEN' : '{{ csrf_token }}'
         },
      })
      .then(response => {
        if (response.data.isLiked === true) {
          event.target.classList.add('bi-heart-fill')
          event.target.classList.remove('bi-heart')
        } else {
          event.target.classList.add('bi-heart')
          event.target.classList.remove('bi-heart-fill')
        }
        const likeReviewCount = event.target.nextElementSibling
        likeReviewCount.innerText = response.data.likeReviewCount
      }) 
    })
  }
  </script>

<!-- 카카오맵 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6a80656638a5303b90499a7641382145&libraries=services,clusterer,drawing"></script>

<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch($("#addr").text(), function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">{{ restaurant.name }}</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    
</script>

</body>
{% endblock %}


<!-- 좋아요를 누르면 특정 리뷰에 대한 좋아요가 아니라 모든 리뷰에 좋아요로 눌린다. -->
<!-- 별점 평점 계산해주는 기능필요 -->
<!-- 레스토랑 콘텐츠 내용 없음 -->
<!-- 크롤링에서 레스토랑 컨텐츠와 리뷰를 크롤링해오지 않고 사진이 3개만 있음 -->
<!-- http://127.0.0.1:8000/bars/5/ 127.0.0.1로 불러와야지 맵이 읽힘-->