{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock %}

{% block content %}
<h1>detail</h1>
{% if request.user == review.user %}
<div class="text-end me-5">
  <a class="btn btn-outline-primary" href="{% url 'bars:review' %}">
    리뷰 작성하기
  </a>
  <a class="btn btn-outline-success" href="{% url 'bars:update' review.pk %}">
    수정
  </a>
  <a class="btn btn-outline-danger" href="{% url 'bars:delete' review.pk %}">
    삭제
  </a>
</div>
{% endif %}
{% endblock %}