{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock %}

{% block content %}
<li class="nav-item">
  {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
  <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
  {% else %}
  <a href="{% url 'account_login' %}" class="nav-link">Login</a>
  {% endif %}
</li>

<hr>
<h1>Best 식당</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for restaurant in restaurants %}
  <div class="col">
    <div class="card">
      <img src="{{ restaurant.image.url }}" alt="" width='200' height='200'>
      <div class="card-body">
        <a href="{% url 'bars:detail' restaurant.pk %}"><h5 class="card-title">{{ restaurant.name }}</h5></a>
        <p class="card-text">This is a longer caer.</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}