{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block css %}
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}
{% block content %}
<style>
.btn {
  color: #FFFFF;
  background-color: #c298c8
  }
</style>
<div class="container m-5 mx-auto text-center" style="width:600px;">
  <form action="" method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <a id="naverIdLogin_loginButton" href="javascript:void(0)" class="text-decoration-none mb-3">
      <img src="http://lab.anybuild.co.kr/API/naver/img/naver_g_c_login.PNG" style="width: 14rem; height:3rem;">
    </a>
    <a id="kakao-login-btn"></a>
    <input type="submit" style="width: 14rem; height:3rem;" class="btn mt-3" value="로그인">
    
  </form>
<div class="flex flex-col w-full mt-4">
  <!-- receiving from django-allauth -->
  

    
</div>

</div>

<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script type="text/javascript">
  function unlinkApp() {
    Kakao.API.request({
      url: '/v1/user/unlink',
      success: function(res) {
        alert('success: ' + JSON.stringify(res))
      },
      fail: function(err) {
        alert('fail: ' + JSON.stringify(err))
      },
    })
  }
</script>
<script type="text/javascript">
  // 6a80656638a5303b90499a7641382145
  Kakao.init('6a80656638a5303b90499a7641382145');
  console.log(Kakao.isInitialized());
   
  Kakao.Auth.createLoginButton({
    container: '#kakao-login-btn',
    success: function(authObj) {
      Kakao.API.request({
        url: '/v2/user/me',
        success: function(result) {
          $('#result').append(result);
          id = result.id
          connected_at = result.connected_at
          kakao_account = result.kakao_account
          console.log(kakao_account)
          $('#result').append(kakao_account);

          resultdiv="<h2>로그인 성공 !!"
          resultdiv += '<h4>id: '+id+'<h4>'
          resultdiv += '<h4>connected_at: '+connected_at+'<h4>'
          profile_image = "";
          email ="";
          gender = "";
          nickname = "";
          if(typeof kakao_account != 'undefined'){
            email = kakao_account.email;
            profile_image = kakao_account.profile.thumbnail_image_url;
        	  gender = kakao_account.gender;
            nickname = kakao_account.profile.nickname;
          }
          console.log(111111111111111)
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
          axios({
            method: 'post',
            url: `/accounts/id_check/`,
            headers: {'X-CSRFToken': csrftoken},
            data: {'username': id, 'email': email, 'profile_image': profile_image, 'nickname': nickname,}
            }).then(response => {
              console.log(2222222222222222)
              window.location.replace("/");
            })
        },
        fail: function(error) {
          alert(
            'login success, but failed to request user information: ' +
              JSON.stringify(error)
          )
        },
      })
    },
    fail: function(err) {
      alert('failed to login: ' + JSON.stringify(err))
    },
  })
</script>

  <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
  <script>
  // hgD9ymV7P0RHFNuOlyZD
  // http://127.0.0.1:8000/accounts/login
  
  var naverLogin = new naver.LoginWithNaverId(
    {
      clientId: "hgD9ymV7P0RHFNuOlyZD", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
      callbackUrl: "http://127.0.0.1:8000/accounts/login/naver_callback/", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
      isPopup: false,
      // loginButton: {color: "green", type: 3, height: 60}
      callbackHandle: true,
    }
  );	

  naverLogin.init();

  window.addEventListener('load', function () {
  naverLogin.getLoginStatus(function (status) {
    if (status) {
      var email = naverLogin.user.getEmail(); // 필수로 설정할 값
        
      console.log(naverLogin.user); 
        
            if( email == undefined || email == null) {
        alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
        naverLogin.reprompt();
        return;
      }
    } else {
      console.log("callback 처리에 실패하였습니다.");
    }
  });
  });


  var testPopUp;
  function openPopUp() {
    testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
  }
  function closePopUp(){
    testPopUp.close();
  }

  function naverLogout() {
  openPopUp();
  setTimeout(function() {
    closePopUp();
    }, 1000);


  }
</script>
{% endblock %}