{% extends 'base.html' %}
{% load django_bootstrap5 %}
{ % bootstrap_css % }
{ % bootstrap_javascript % }
{% load static %}
{% block content %}
<div class="m-5" style="600px;">
  <div class="d-flex border mx-auto p-3" style="width: 80%;">
    {% for account in user.socialaccount_set.all %}
    <img src="{{ account.get_avatar_url }}" class="rounded-circle" width="100" height="100"></p>
    <h3 class="fs-3 p-3">{{ request.user }}</h3>
    {% endfor %}
  </div>
  <div class="border mx-auto p-3" style="width: 80%;">
    <h3 class="fs-3">{{ request.user }}</h3>
  </div>
</div>
{% endblock %}

